//////////////////////////////////////////////////////////////////////
// 	WarpSharp リソース
//	Resource Script
//////////////////////////////////////////////////////////////////////

//#include <winres.h>


//////////////////////////////////////////////////////////////////////
//  VERSION INFO
//
VS_VIRSION_INFO VERSIONINFO
 FILEVERSION    0,0,1,1
 PRODUCTVERSION 0,0,1
 FILEFLAGSMASK  0x3FL
 FILEFLAGS      0x0L
 FILEOS         VOS__WINDOWS32
 FILETYPE       VFT_DLL
 FILESUBTYPE    0x0L
{
    BLOCK "StringFileInfo"
	{
        BLOCK "041103A4"
		{
			VALUE "Comments",         "オリジナルのAviSynth版WarpSharpの作者様に多謝\0"
            VALUE "FileDescription",  "WarpSharp Filter for AviUtl 0.98以降\0"
            VALUE "FileVersion",      "0.0.1.1\0"
            VALUE "InternalName",     "warpsharp\0"
            VALUE "LegalCopyright",   "Transplant:MakKi\0"
            VALUE "OriginalFilename", "warpsharp.aup\0"
            VALUE "ProductName",      "WarpSharp for AviUtl\0"
            VALUE "ProductVersion",   "0.01a\0"
		}
	}
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x411, 932
    }
}

